* {
  box-sizing: border-box;
}

h1 {
  font-size: 18px;
  margin-top: 3px;
}

p {
  margin: 0;
  line-height: 24px;
}

select {
  min-width: 200px;
  margin-right: 20px;
  height: 40px;
  font-size: 17px;
}

select:disabled {
  cursor: not-allowed;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingOverlay {
  position: fixed;
  height: 100%;
  min-width: 1000px;
  max-width: 1200px;
  width: 100%;
  background-color: #000;
  opacity: 0.25;
}

.loadingOverlay:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-left-color: #fff;
  border-top-color: #fff;
  animation: loading 1500ms infinite linear;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.findStoreBtn {
  width: 200px;
  height: 40px;
  display: felx;
  align-items: center;
  justify-content: center;
  background: #40a9f3;
  border: #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

.findStoreBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.app {
  /* border: 1px solid black; */
  min-width: 1000px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

nav {
  border-bottom: 1px solid #ddd;
  display: flex;
  margin-bottom: 20px;
}

nav a {
  padding: 10px 5px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  background: #000;
  color: #fff;
}

.storeContainer {
  display: flex;
  flex-wrap: wrap;
}

.storeContainer .store {
  flex: 0 0 32%;
  margin: 0.5%;
  border: 1px solid grey;
  margin-bottom: 0.5%;
  border-radius: 10px;
  display: flex;
  padding: 15px;
}

.storeNumber {
  height: 30px;
  width: 30px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 15px;
}

.storeContainer .moreInfo {
  color: #000;
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  color: #597978;
  text-decoration: underline;
}

.storeDetail {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
}

.storeDetail_info,
.storeDetail_openingHours {
  flex: 1 1 50%;
}

.storeDetail_info {
  flex: 0 1 80%;
}

.storeDetail_openingHours-times {
  display: flex;
  justify-content: space-between;
}

.days {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .app,
  .loadingOverlay {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
  }

  select {
    margin-bottom: 10px;
  }

  .storeContainer .store {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  .storeDetail {
    flex-direction: column;
  }

  .storeDetail_openingHours {
    margin-top: 15px;
  }
}
